openapi: 3.2.0
info:
  title: Rotessa Transaction Report API
  version: v1
  description: The Rotessa API provides programmatic access to the core Rotessa platform for collecting recurring payments directly from customers' bank accounts over Canadian pre-authorized debit (PAD) and US ACH rails.
  contact:
    name: Rotessa Support
    url: https://support.rotessa.com/
    email: support@rotessa.com
  termsOfService: https://rotessa.com/legal/
servers:
- url: https://api.rotessa.com/v1
  description: Production
- url: https://sandbox-api.rotessa.com/v1
  description: Sandbox / test environment
security:
- apiKeyAuth: []
tags:
- name: Transaction Report
  description: Retrieve financial transaction records and their status for reconciliation.
paths:
  /transaction_report:
    get:
      operationId: showTransactionReport
      tags:
      - Transaction Report
      summary: Show transaction report
      description: Retrieve financial transaction records and their status for reconciliation and reporting. Paginated at 1000 transactions per page.
      parameters:
      - name: start_date
        in: query
        required: true
        description: The earliest process date (YYYY-MM-DD) of the list of transactions.
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        description: The last process date (YYYY-MM-DD) of the list of transactions. Optional.
        schema:
          type: string
          format: date
      - name: status
        in: query
        required: false
        description: Filter by the given financial status of the transactions.
        schema:
          type: string
          enum:
          - All
          - Pending
          - Approved
          - Declined
          - Chargeback
          default: All
      - name: page
        in: query
        required: false
        description: Page selected based on 1000 transactions per page.
        schema:
          type: integer
          minimum: 1
      responses:
        '200':
          description: A list of financial transactions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FinancialTransaction'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '406':
          $ref: '#/components/responses/NotAcceptable'
components:
  responses:
    NotAcceptable:
      description: Not Acceptable - you requested a format that isn't json.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    Unauthorized:
      description: Unauthorized - your API key is not valid or is missing.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  schemas:
    ErrorEnvelope:
      type: object
      description: Rotessa error envelope. Errors are returned as a list of objects each carrying a machine-readable error_code and a human-readable error_message.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              error_code:
                type: string
                example: installments_required
              error_message:
                type: string
                example: Installments value must be at least 1.
    FinancialTransaction:
      type: object
      properties:
        id:
          type: integer
          description: ID of the financial transaction
        uuid:
          type: string
          description: UUID of the financial transaction
        amount:
          type: number
          description: Transaction amount
        process_date:
          type: string
          description: The scheduled process date of the transaction
        status:
          type: string
          description: The current status of the transaction.
          enum:
          - Future
          - Pending
          - Approved
          - Declined
          - Chargeback
        status_reason:
          type: string
          description: The reason for the Declined or Chargeback status of a transaction.
        transaction_schedule_id:
          type: integer
          description: ID of the transaction schedule that created this transaction
        bank_name:
          type: string
        institution_number:
          type: string
        transit_number:
          type: string
        account_number:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key placed in the Authorization header in the form `Authorization: Token token="<your_api_key>"`. Keys are created and revoked in the Rotessa admin portal.'
